body {
	font-family: sans-serif;
	
	background-color: #ffffff;
	background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
	background-image: -moz-linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
	background-image: -o-linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
	background-image: -ms-linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
	background-image: linear-gradient(bottom, #ffffff 0%, #ffffff 100%);
}
#topPanel{width:500px; height:200px; position:absolute; left:0px;top:10px;padding:0;}
#topPanel ul{display:block; width:732px; height:32px; position:absolute; top:0; right:0; margin:11px 0 0; padding:0 29px 0 0; border-bottom:0px solid #AEAEAE;background-color:#ffffff;}
#topPanel ul li{float:right; font:12px/36px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold;background-color:#ffffff;}
#topPanel ul li a{width:74px; height:36px; display:block; padding:0; color:#555; background:#fff; text-decoration:none; text-align:center; margin:0 1px 0 0; top:0px; left:0px;background-color:#ffffff;}
#topPanel ul li a:hover{width:74px; height:36px; text-decoration:none; background:url(images/button.gif) no-repeat 0 0 #AEAEAE; color:#fff;background-color:#ffffff;}
#topPanel ul li.active{width:74px; display:block; height:36px; background:url(images/button.gif) no-repeat 0 0 #AEAEAE; color:#fff; text-align:center; margin:0 1px 0 0;background-color:#ffffff;}
#topPanel1 img{width:114px; height:150px; z-index:1; padding:0; position:absolute; margin:0 0 0 1050px;}
#headingPanel{width:1200px; height:30px; position:absolute; top:-60px; left:0; margin:110px 0 0; padding:0px; color:#fff;margin-top: 150px;}
#contactform {
	width: 400px;
	height: 110px;
	position: absolute;
	left: 80%;
	top: 40%;
	margin-left: -200px;
	margin-top: 10px;

}
#imgpanel{width:500px; height:650px; position:absolute; margin:0 auto;right:700px;margin-top:250px; padding:0;}
#imgpanel img1{width:453px; height:604px; z-index:1; padding:0; position:absolute; margin:0 0 0 15px;}
